You have spent {{suppliers.totalSpent | currency}} and are waiting on shipment of {{suppliers.totalPending | currency}}.

<ngx-datatable 
    class="material"
    [columnMode]="'flex'"
    [rowHeight]="'auto'"
    [rows]="suppliers.list">
    <ngx-datatable-column name="name" [flexGrow]="2">
        <ng-template ngx-datatable-header-template>
            Name
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="amount" [flexGrow]="1">
        <ng-template ngx-datatable-header-template>
           $ Spent
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.amount | currency}}
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>
