<ngx-datatable 
    class="material"
    [columnMode]="'flex'"
    [rowHeight]="'auto'"
    [rows]="invoices">
    <ngx-datatable-column name="name" [flexGrow]="2">
        <ng-template ngx-datatable-header-template>
            Invoice
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.supplier_name}}<br />
            <small class="muted">{{row.order_number}}</small>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="amount" [flexGrow]="1">
        <ng-template ngx-datatable-header-template>
           $ Spent
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.billed_amount | currency}}
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>
